VITE_SUPABASE_URL=https://agbkofnuhhfdolbpymbp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnYmtvZm51aGhmZG9sYnB5bWJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxNDEyMDgsImV4cCI6MjEwNDcxNzIwOH0.ps5gcaWNIbs6dB7wacmJlKI17ePTiOZSpaqrO4bv5Zs